:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
  }
  
  body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;

  }


  main {
    margin-left: 5rem;
    padding: 1rem;
  }
  
  .navbar {
    position: fixed;
    background-color: 	#202020;
    transition: width 600ms ease;
    overflow: scroll;
    overflow: hidden;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  .nav-item:nth-child(6){
      margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 2rem;
    font-size: 21px;
  }
  .link-proj{
    display: none;
    margin-left: 25px;
    font-size: 21px;
  }
  .link-home{
    display: none;
    margin-left: 28px;
    font-size: 21px;
  }
  
  .link-logo {
    display: none;
    margin-left: 1rem;
    font-size: 21px;
  }
  
  .linkedin {
    position: static;
    padding-left: 24px;
    transition: var(--transition-speed);
  }
  .navreg{
    position: static;
    padding-left: 22px;
    transition: var(--transition-speed);
  }
  .code{
    position: static;
    padding-left: 18px;
    transition: var(--transition-speed);
  }
  .plane{
    position: static;
    padding-left: 20px;
    transition: var(--transition-speed);
  }
  .house{
    position: static;
    padding-left: 20px;
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }

  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logoMain{
    display: none;
  }
  .logoMain{
    position: static;
    padding-left: 20px;
    transition: var(--transition-speed);
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
    .nav-item:nth-child(n+6){
        display:none;
    }
    .nav-item{
        padding-right: 30px;
    }

  
    main {
      margin: 0;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
    .navbar:hover .link-proj{
        display: inline;
      }

      .navbar:hover .link-home{
        display: inline;
      }
    
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
 