:root {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
    --transition-speed: 600ms;
    overflow: scroll;
    overflow: hidden;
    
  }
  .aboutDesc{
    font-family: 'Montserrat', sans-serif;
    color: #eee;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    margin: 10;
  }

  .aboutIconContainer{
    list-style: none;
    color: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    margin: 2%;
    padding-bottom: 20%;
  }
  .aboutIcon{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
  }
  .aboutIconDesc{
    font-family: 'Montserrat', sans-serif;
    color: #eee;
    display: flex;
    padding: 0;
    margin: 0;
    text-align: center;
  
  }
  body {
    color: black;
    background-color:#05050c;
    margin: 0;
    padding: 0;
  }
  body::-webkit-scrollbar{
    width: 0;
  }
  main{
    margin: 5rem;
    padding: auto;
  }

  
  .navbar {
    position: fixed;
    background-color: 	#202020;
    transition: width 600ms ease;
    overflow: scroll;
    overflow: hidden;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  /*id for individual nav items*/
  .nav-item {
    width: 100%;
  }
  #nav-item-home {
    width: 100%;
  }
  #nav-item-about {
    width: 100%;
  }
  #nav-item-project {
    width: 100%;
  }
  #nav-item-contact {
    width: 100%;
  }
  .nav-item:nth-child(6){
      margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-secondary);
    color: var(--text-secondary);
  }
  
  .link-text {
    display: none;
    margin-left: 2rem;
    font-size: 21px;
  }
  .link-proj{
    display: none;
    margin-left: 25px;
    font-size: 21px;
  }
  .link-home{
    display: none;
    margin-left: 28px;
    font-size: 21px;
  }
  
  .link-logo {
    display: none;
    margin-left: 1rem;
    font-size: 21px;
  }
  
  .linkedin {
    position: static;
    padding-left: 24px;
    transition: var(--transition-speed);
  }
  .navreg{
    position: static;
    padding-left: 22px;
    transition: var(--transition-speed);
  }
  .code{
    position: static;
    padding-left: 18px;
    transition: var(--transition-speed);
  }
  .plane{
    position: static;
    padding-left: 20px;
    transition: var(--transition-speed);
  }
  .house{
    position: static;
    padding-left: 20px;
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }

  .logo-text
  {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  .navbar:hover .logoMain{
    display: none;
  }
  
  .logoMain{
    position: static;
    padding-left: 20px;
    transition: var(--transition-speed);
  }
  
  /* Small screens */
  @media only screen and (max-width: 600px) {
    :root{
      overflow-y: scroll;
      overflow-x: hidden;
    }
    body{
      overflow-y: scroll;
      overflow-x: hidden;
    }
    .aboutDesc{
      justify-content: left;
      align-content: left;
    }
    .aboutIconContainer{
      list-style: none;
      color: #eee;
      display: grid;
      justify-content: left;
      align-items: left;
      height: auto;

      padding-right: 100%;
      grid-template-columns: repeat(3, 1fr);
      padding-bottom: 20%;
      
    }

    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
    .nav-item:nth-child(n+6){

        display:none;
    }
    .nav-link:hover {
        filter: grayscale(0%) opacity(1);
        background: #202020;
        color: var(--text-primary);
      }
    .navreg{
        position: static;
        padding-left: 0px;
        transition: var(--transition-speed);
      }
      .code{
        position: static;
        padding-left: 0px;
        transition: var(--transition-speed);
      }
      .plane{
        position: static;
        padding-left: 0px;
        transition: var(--transition-speed);
      }
      .house{
        position: static;
        padding-left: 0px;
        transition: var(--transition-speed);
      }
  
    main {
      margin: 4%;
    }
  }
  
  /* Large screens */
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
    .navbar:hover .link-proj{
        display: inline;
      }

      .navbar:hover .link-home{
        display: inline;
      }
    
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: 0px;
    }
  }
 